//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

// test scrollable table class
.tablescroll {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
}

.customtag {
display: inline;
width: 125px;
//height: 300px;
background-color:lightgray;
padding: 5px;
padding-left: 10px;
padding-right: 10px;

}
.customtag2 {
display: inline;
width: 125px;
//height: 300px;
background-color:lightgray;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
position: absolute;
left:1070px
}

.alignleft {
position:absolute;
left: 313px;

}

.indented {
padding-left: 20px;

}


.my-hr {
  width: 250px;
  padding-top: govuk-spacing(1);
  border-top: 5px solid govuk-colour('blue')

}
//.tablecellfixed {
  //  display: block;
   //column-width: 50px;
  
//}