{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of Compliance
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of Compliance</h1>


        <table class="govuk-table">
          <!--<caption class="govuk-table__caption govuk-table__caption--m">Statement of Compliance progress</caption>-->
          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Legal / procedural regulation</th>
              <th scope="col" class="govuk-table__header">Progress</th>
              <th scope="col" class="govuk-table__header">Evidence location</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-third">Advice being sought</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 1</a> [Regulation 1 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 2</a> [Regulation 2 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 3</a> [Regulation 3 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 4</a> [Regulation 4 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 5</a> [Regulation 5 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 6</a> [Regulation 6 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 7</a> [Regulation 7 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>
              <td class="govuk-table__cell">[evidence location]</td>
                 <td class="govuk-table__cell">[advice being sought as entered by the user when completing the questions relating to this regulation on the previous page]</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 8</a> [Regulation 8 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 9</a> [Regulation 9 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 10</a> [Regulation 10 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 11</a> [Regulation 11 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 12</a> [Regulation 12 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
            </tr>



          </tbody>
        </table>

 <br><br>

                  <a href="SoC-list-GW2-1" role="button" draggable="false" class="govuk-button govuk-button--start"
                    data-module="govuk-button">
                    See example list at gateway 2
                  </a>


      </div>
    </div>
  </main>
</div>


{% endblock %}