{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Start - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Core evidence base studies
      </h1>
      <p class="govuk-body">
        All local authorities should begin with a core set of studies:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Demographic analysis</li>
        <li>Housing demand and supply review</li>
        <li>Economic trends assessment</li>
        <li>Environmental impact/assessment overview</li>
        <li>Infrastructure and transport analysis</li>
      </ul>
      <a href="2-section" class="govuk-button">
        Continue
      </a>

      </div>
    </div>
  </main>
{% endblock %}
