{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Start - {{ serviceName }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    Core evidence base studies
  </h1>
  <p class="govuk-body">
    All local authorities should begin with a core set of studies:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Demographic Analysis</li>
    <li>Housing Demand and Supply Review</li>
    <li>Economic Trends Assessment</li>
    <li>Environmental Impact/Assessment Overview</li>
    <li>Infrastructure and Transport Analysis</li>
  </ul>
  <a href="2-section" class="govuk-button">
    Continue
  </a>
{% endblock %}
