{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Section 3a - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="4-section" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="urbanDense-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                        Urban dense area studies
                    </h1>
                  </legend>
                  <div id="urbanDense-hint" class="govuk-hint">
                    Select all recommended evidence studies that apply. <br />These will be added to your final tailored recommendations.
                  </div>
                  <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="urbanDense" name="urbanDense" type="checkbox" value="Housing and infrastructure intensity study" aria-describedby="urbanDense-item-hint" {{ checked('urbanDense','Housing and infrastructure intensity study') }}>
                      <label class="govuk-label govuk-checkboxes__label" for="urbanDense">
                        Housing and infrastructure intensity study
                      </label>
                      <div id="urbanDense-item-hint" class="govuk-hint govuk-checkboxes__hint">
                        Analysis of high-density housing, service provision, and urban services.
                      </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="urbanDense-2" name="urbanDense" type="checkbox" value="Sustainability and green space accessibility study" {{ checked('urbanDense','Sustainability and green space accessibility study') }}>
                      <label class="govuk-label govuk-checkboxes__label" for="urbanDense-2">
                        Sustainability and green space accessibility study
                      </label>
                      <div id="urbanDense-2-item-hint" class="govuk-hint govuk-checkboxes__hint">
                        Evaluation of green corridors, urban heat islands, and sustainable urban drainage systems.
                      </div>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="urbanDense-3" name="urbanDense" type="checkbox" value="Public transport and mobility study" {{ checked('urbanDense','Public transport and mobility study') }}>
                      <label class="govuk-label govuk-checkboxes__label" for="urbanDense-3">
                        Public transport and mobility study
                      </label>
                      <div id="urbanDense-3-item-hint" class="govuk-hint govuk-checkboxes__hint">
                        Assessment of public transport adequacy, walkability, cycling infrastructure.
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
