{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Section 3a - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Placeholder: not part of testing
        </h1>
        </legend>
        <div id="urbanDense-hint" class="govuk-hint">
          Return to the previous page
        </div>
      </div>
    </div>

  </main>
</div>

{% endblock %}