{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Section 3b - {{ serviceName }}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="4-section" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Are you expecting to allocate a new settlement or village?
                    </h1>
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="settlement" name="settlement" type="radio" value="Yes" {{ checked('settlement','Yes') }}>
                      <label class="govuk-label govuk-radios__label" for="settlement">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="settlement-2" name="settlement" type="radio" value="No" {{ checked('settlement','No') }}>
                      <label class="govuk-label govuk-radios__label" for="settlement-2">
                        No
                      </label>
                    </div>



                  </div>
                </fieldset>
              </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>


  <!-- <ul class="govuk-list govuk-list--bullet">
    <li>Urban Dense</li>
    <li>Rural and Dispersed</li>
    <li>Mixed-Use or Urban Fringe</li>
    <li>Notable Heritage or Conservation Designations</li>
    <li>Rapidly Growing/Expanding</li>
  </ul> -->
{% endblock %}
