{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  Section 4 - {{ serviceName }}
{% endblock %}

{% block content %}



<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="7-section" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="localConsiderations-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      Are there multiple towns or villages in the plan area?
                    </h1>
                  </legend>
                 
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="multiple" name="multiple" type="radio" value="Yes" {{ checked('multiple','Yes') }}>
                      <label class="govuk-label govuk-radios__label" for="multiple">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="multiple-2" name="multiple" type="radio" value="No" {{ checked('multiple','No') }}>
                      <label class="govuk-label govuk-radios__label" for="multiple-2">
                        No
                      </label>
                    </div>



                </fieldset>
              </div>

          <button type="submit" class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
</div>

{% endblock %}
