{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Edit your answers - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-l">Check your answers</h1>

<!--Theme 1-->        
        <h2 class="govuk-heading-m">Housing and residential questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-table__header govuk-!-width-two-thirds">
              Has housing need for the area already been determined through an SDS?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the need for different types of homes for the area already been fully determined through an SDS?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has housing requirement for the area already been determined through an SDS?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you likely to require to rely on windfall sites as part of your supply of land for housing?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          

        </dl>

<!--Theme 2-->        
        <h2 class="govuk-heading-m">Economy and employment questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-table__header govuk-!-width-two-thirds">
              Has economic need for the area already been determined through an SDS?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is leisure and tourism likely to be of particular importance to the economy of your area?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          
          
        </dl>    
        
<!--Theme 3-->        
        <h2 class="govuk-heading-m">Built Design and Heritage questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-table__header govuk-!-width-two-thirds">
              Are you proposing to set density standards in the local plan in accordance with policy L1?

            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          
        </dl>     
        
<!--Theme 4-->        
        <h2 class="govuk-heading-m">Natural environment and open land questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-table__header govuk-!-width-two-thirds">
              Does your LPA have any areas of coastline [that are likely to be affected by physical change in accordance with guidance on coastal change]?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you proposing setting local standards for biodiversity net gain in accordance with policy N1(2)?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does your LPA have areas of Green Belt?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> customer reference</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Does your LPA have areas of Metropolitan open land?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you likely to propose changes to the boundaries of metropolitan open land?
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">No</p>
            
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> contact details</span></a>
            </dd>
          </div>
     
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you likely to proposed designating land as local green space through the plan?
            </dt>
            <dd class="govuk-summary-list__value">
              Yes
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> previous application number</span></a>
            </dd>
          </div>
          
        </dl> 
        
<!--Theme 5-->        
        <h2 class="govuk-heading-m">Community services and health questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
          <div class="govuk-inset-text">
        All planners will need to submit evidence on open space, sports and community facilities
        </div>
          
        </dl>       
        
<!--Theme 6-->        
        <h2 class="govuk-heading-m">Transport and infrastructure questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
             <div class="govuk-inset-text">
        All planners will need to submit evidence on transport and viability
        </div>
          
        </dl>     
        
<!--Theme 7-->        
        <h2 class="govuk-heading-m">Other questions</h2>
         <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
             <div class="govuk-inset-text">
        All planners will need to submit evidence on settlements and boundaries
        </div>
          
        </dl>               
        
        <form action="results-page-defra-forms" method="post" novalidate>
          <input type="hidden" name="answers-checked" value="true">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            View results
          </button>
        </form>
      </div>
    </div>
  </main>

    {% endblock %}