{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Start - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<span class="govuk-caption-xl">Local Plans</span>
<h1 class="govuk-heading-xl">Evidence base prototypes</h1>

<!--Decision Tree-->

       <h2 class="govuk-heading-l">Decision tree</h2>
<table class="govuk-table">
  <h4 class="govuk-heading-m">SOW 25 (Q1 2026)</h4>
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Prototype versions</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Concept</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="MVP-EB-list.html">MVP: Evidence base list </a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1">
              Untested
            </strong><br>
           16–27 Feb
          </td>
          <td class="govuk-table__cell">
            Version 1 - Flat studies and criteria content with no diagram
          </td>
        </tr> 

         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="Start-page-defra-page">C: Decision tree tool </a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
              draft
            </strong><br>
           2–13 Feb
          </td>
          <td class="govuk-table__cell">
            Version 2 - <b>Start page</b>, <b>Check answers</b> page grouped by themes, followed by <b>Results page</b>. Designed to replicate DEFRA forms designer
          </td>
        </tr> 

        <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="flat-content.html">B: flat guidance content </a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
              draft
            </strong><br>
          19–30 Jan
          </td>
          <td class="govuk-table__cell">
            Version 2 - MVP studies guidance page with page navigation
          </td>
        </tr>  

         <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="flowchart-page-1.html">A: flowchart with supporting content </a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--orange govuk-!-margin-bottom-1">
              draft
            </strong><br>
           19–30 Jan
          </td>
          <td class="govuk-table__cell">
            Version 1 - Flowchart decision tree diagram with supporting html content 
          </td>
        </tr>  
      </table>
        
<!--Archived Test and Learn-->

<table class="govuk-table">
  <h4 class="govuk-heading-m">Test and Learn (summer 2025)</h4>
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Prototype versions</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

         

        <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/index">Version&nbsp;1&nbsp;questions</a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
           1 May
          </td>
          <td class="govuk-table__cell">
            Version 1 - decision tree questions tested alongside the results page with LPAs
          </td>
        </tr>  

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/review">Results&nbsp;page version&nbsp;1</a></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            1 May
          </td>
          <td class="govuk-table__cell">
            Version 1 - results page tested alongside the decision tree questions with LPAs
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/results-accordion">Results&nbsp;page&nbsp;accordion</a></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            28 - 31 July
          </td>
          <td class="govuk-table__cell">
            Version 2A - accordion results page for usability testing
          </td>
        </tr>

      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/results-all">Results&nbsp;page&nbsp;flat</a></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            28 - 31 July
          </td>
          <td class="govuk-table__cell">
            Version 2B - flat results page for usability testing
          </td>
        </tr>

      </table>   

      <br>

<!--Statement of Compliance-->

   <h2 class="govuk-heading-l">Statement of compliance</h2>
<table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Prototype versions</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">
            <a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/SoC3-list-start">Version&nbsp;3</a>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-1">
              Untested
            </strong><br>
           
          </td>
          <td class="govuk-table__cell">
            Iterated on prototype 2 - interaction changes after usability testing with LPAs
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/SoC2-list-start">Version&nbsp;2</a></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            8 - 9 July
          </td>
          <td class="govuk-table__cell">
            Version 2 for LPA usability testing (iterated on prototype 1 after PINs focus groups)
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="https://local-plans-test-learn-edfa4d960c40.herokuapp.com/SoC-list-start-all">Version&nbsp;1</a></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            23 - 24 June
          </td>
          <td class="govuk-table__cell">
            Version 1 for PINs focus group 
          </td>
        </tr>

</table>

<br>



    </div>
  </div>
</main>
{% endblock %}