{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Review - {{ serviceName }}
{% endblock %}

{% block content %}
<a href="EB-prototypes.html" class="govuk-back-link">Back</a>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


             <span class="govuk-caption-m">Guidance</span>
                <h1 class="govuk-heading-xl">Check the evidence to provide with your local plan</h1>


                <p class="govuk-body">
                    This guidance will help you decide which additional studies to provide, based on your context and plan content. </p>
            
<!--study 1-->                    
            <h2 class="govuk-heading-m">
                Strategic scale technical and design evidence</h2>

            <p class="govuk-body">
                Include this if you are expecting to allocate any of the following:</p>
                
            <ul class="govuk-list govuk-list--bullet">
                    <li>a new settlement or village</li>
                    <li>a site with 1000 homes or more</li>
                    <li>a large site that’s critical to your plan’s strategic priorities (use planning judgement and check with PINS)</li>
                </ul>

<!--study 2-->                    
            <h2 class="govuk-heading-m">
                Settlement study with built-up area boundary review</h2>

            <p class="govuk-body">
                Include this if there are multiple towns or villages in the plan area.</p>
                
              
<!--study 3-->                    
            <h2 class="govuk-heading-m">
                Spatial development strategy conformity note</h2>

            <p class="govuk-body">
                Include this if you are within Greater London.</p>
                
          
<!--study 4-->                    
            <h2 class="govuk-heading-m">
                Metropolitan open space review</h2>

            <p class="govuk-body">
                Include this if you are within Greater London.</p>
                
                
<!--study 5-->                    
            <h2 class="govuk-heading-m">
                Green belt review</h2>

            <p class="govuk-body">
                Include this if there is green belt land in the plan area.</p>
                
            <ul class="govuk-list govuk-list--bullet">
                    <li>a new settlement or village</li>
                    <li>a site with 1000 homes or more</li>
                    <li>a large site that’s critical to your plan’s strategic priorities (use planning judgement and check with PINS)</li>
                </ul>
                
<!--study 6-->                    
            <h2 class="govuk-heading-m">
               Green belt exceptional circumstances evidence paper</h2>

            <p class="govuk-body">
                Include this if:</p>
                
            <ul class="govuk-list govuk-list--bullet">
                    <li>you are likely to alter existing green belt boundaries</li>
                    <li>you intend to create a new green belt</li>
            
                </ul>
                



            </p>
        </div>
    </div>
</main>

<nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>

{% endblock %}