{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Start - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check what to include in your evidence base
      </h1>
      <p class="govuk-body">

      
        Answer questions about your local planning authority and plan-making decisions to find out what evidence to prepare or use.
       <br><br>
       You should use your results as a guide, especially if you're using this early in your plan-making. You should confirm your final list of evidence with the Planning Inspectorate at Gateway 2.

       <br><br>

        Depending on your answers, you may need to check with the Planning Inspectorate. For example, if your answers suggest you need more tailored advice.
      </p>
      

      <!--<a href="2-section" class="govuk-button">
        Continue
      </a>-->
      <br>

      <a href="2-section" role="button" draggable="false" class="govuk-button govuk-button--start"
        data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>
</main>
{% endblock %}