{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Flowcharts - {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-width-container">
    <a href="EB-prototypes.html" class="govuk-back-link">Back</a> 
    <!--<a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
    <main class="govuk-main-wrapper " id="main-content" role="main">

        <span class="govuk-caption-m">Guidance</span>
                <h1 class="govuk-heading-xl">Check what to include in your local plan evidence base</h1>

                    <br>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third content-list__sticky">
               
                
                <h2 class="govuk-heading-m">Contents</h2>
                <h3 class="govuk-heading-s">Studies all LPAs should provide</h3>
                <ul class="govuk-list govuk-list--bullet">
                    
                <li class="govuk-body-m">
                    <a href="#core-theme-1" class="govuk-link govuk-link--no-visited-state">Housing land availability assessment</a></li>
                <li class="govuk-body-m">
                    <a href="#core-theme-2" class="govuk-link govuk-link--no-visited-state">Housing need assessment</a></li>    
                <li class="govuk-body-m">
                    <a href="#core-theme-3" class="govuk-link govuk-link--no-visited-state">Housing requirement study – likely alongside SHLAA</a></li>  
                <li class="govuk-body-m">
                    <a href="#core-theme-4" class="govuk-link govuk-link--no-visited-state">Economic needs assessment</a></li> 
                    <li class="govuk-body-m">
                    <a href="#core-theme-5" class="govuk-link govuk-link--no-visited-state">Economic land availability assessment (ELAA)</a></li>  
                    <li class="govuk-body-m">
                    <a href="#core-theme-6" class="govuk-link govuk-link--no-visited-state">Town Centre Strategy</a></li>    
                    <li class="govuk-body-m">
                    <a href="#core-theme-7" class="govuk-link govuk-link--no-visited-state">Heritage assessment</a></li>  
                    <li class="govuk-body-m">
                    <a href="#core-theme-8" class="govuk-link govuk-link--no-visited-state">Strategic flood risk assessment – levels 1 and 2</a></li>    
              </ul>

              <h3 class="govuk-heading-s">Additional studies your LPA may need to provide </h3>
                <ul class="govuk-list govuk-list--bullet">
                    
                <li class="govuk-body-m">
                    <a href="#add-theme-1" class="govuk-link govuk-link--no-visited-state">Urban design and capacity study</a></li>
                <li class="govuk-body-m">
                    <a href="#add-theme-2" class="govuk-link govuk-link--no-visited-state">Leisure and tourism study</a></li>    
                <li class="govuk-body-m">
                    <a href="#add-theme-3" class="govuk-link govuk-link--no-visited-state">Rural economy study</a></li>  
                <li class="govuk-body-m">
                    <a href="#add-theme-4" class="govuk-link govuk-link--no-visited-state">Density standards</a></li> 
                    <li class="govuk-body-m">
                    <a href="#add-theme-5" class="govuk-link govuk-link--no-visited-state">Coastal change management area study</a></li>  
                    <li class="govuk-body-m">
                    <a href="#add-theme-6" class="govuk-link govuk-link--no-visited-state">Coastal change management area study</a></li>    
                    <li class="govuk-body-m">
                    <a href="#add-theme-7" class="govuk-link govuk-link--no-visited-state">Agricultural land survey </a></li>  
              </ul>
<!--
               <h3 class="govuk-heading-s">Uncategorised </h3>
                <ul class="govuk-list govuk-list--bullet">
                    
                <li class="govuk-body-m">
                    <a href="#uncategorised-1" class="govuk-link govuk-link--no-visited-state">Character assessment or townscape assessment</a></li>
                <li class="govuk-body-m">
                    <a href="#uncategorised-2" class="govuk-link govuk-link--no-visited-state">Water cycle study</a></li>    
                <li class="govuk-body-m">
                    <a href="#uncategorised-3" class="govuk-link govuk-link--no-visited-state">Protected Landscape Management Plans</a></li>  
                <li class="govuk-body-m">
                    <a href="#uncategorised-4" class="govuk-link govuk-link--no-visited-state">Local Nature Recovery Strategies (LNRS)</a></li> 
                    <li class="govuk-body-m">
                    <a href="#uncategorised-5" class="govuk-link govuk-link--no-visited-state">River Basin Management Plans</a></li>  
                    <li class="govuk-body-m">
                    <a href="#uncategorised-6" class="govuk-link govuk-link--no-visited-state">Green and blue infrastructure strategy</a></li>    
        
              </ul>

              -->


            </div>

            

            <div class="govuk-grid-column-two-thirds">

           <h2 class="govuk-heading-m">Deciding what evidence is relevant to your plan </h2>            
<p class="govuk-body">There are some studies that all local plans must include, and others that are dependent on context or local planning authority (LPA) discretion. When you start to work on your plan, use this guidance to consider what studies you will need to produce.</p>
<p class="govuk-body">To adhere to the <a href="#" class="govuk-link govuk-link--no-visited-state">National Planning Policy Framework</a> and to ensure LPAs can <a href="#" class="govuk-link govuk-link--no-visited-state">produce a local plan within 30 months</a>, the evidence supporting the plan needs to be:</p>
<ul class="govuk-list govuk-list--bullet">
<li>relevant – you do not need to produce a study if it is not necessary for your local plan</li>
<li>proportionate – you should produce all the evidence needed for examination to prevent delays</li>
<li>up-to-date – you do not need to recreate evidence if it already exists and remains relevant</li>
</ul>
<p class="govuk-body">For more information on these principles, see the <a href="#" class="govuk-link govuk-link--no-visited-state">guidance on ensuring a plan is relevant, proportionate and sufficiently up-to-date</a>.</p>     

            <h2 class="govuk-heading-l">Studies all LPAs should provide</h2>

             
            <h3 id="core-theme-1" class="govuk-heading-m">Housing land availability assessment</h3>
            <p class="govuk-body">This study is to identify:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>identify how much land is potentially available for housing development in the area</li>
            <li><a href="https://www.gov.uk/government/collections/create-or-update-a-local-plan-using-the-new-system#selecting-sites-for-development-" class="govuk-link govuk-link--no-visited-state">select sites for development</a></li>
            </ul>
            <p class="govuk-body">It is also known as a strategic housing land availability assessment (SHLAA).</p>
            <p class="govuk-body">Do this study early on, as it will inform other parts of the evidence base such as the housing needs assessment.</p>
            <p class="govuk-body">This is often prepared alongside the economic land availability assessment as a <a href="https://www.gov.uk/guidance/housing-and-economic-land-availability-assessment" class="govuk-link govuk-link--no-visited-state">Housing and economic land availability assessment</a>.</p>
            <p class="govuk-body">The housing needs assessment should be prepared as part of the Spatial Development Strategy (SDS), unless there is not an SDS in place.</p>
            
            <p class="govuk-body">The housing and land availability assessment should include, or be done alongside:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Windfall study – if you are likely to rely on windfall sites as part of your supply of land for housing</li>
            <li>Site selection methodology and site allocations</li>
            <li>Availability of sites for large scale development </li>
            <li>Housing trajectory - evidence to identify timelines for development for all sites coming forward</li>
            </ul>


            <h3 id="core-theme-2" class="govuk-heading-m">Housing need assessment</h3>
            <p class="govuk-body">This study is to assess levels of need for different types of housing in the area. It is also known as a strategic housing market assessment (SHMA).</p>
            <p class="govuk-body">This is often prepared alongside the economic needs assessment as a <a href="https://www.gov.uk/guidance/housing-and-economic-development-needs-assessments" class="govuk-link govuk-link--no-visited-state">Housing and economic needs assessment</a>.</p>
            <p class="govuk-body">The housing need assessment should be prepared as part of the Spatial Development Strategy (SDS), unless there is not an SDS in place.</p>
            <p class="govuk-body">The housing needs assessment must include:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/guidance/housing-needs-of-different-groups" class="govuk-link govuk-link--no-visited-state">Housing needs of different groups</a></li>
            <li><a href="https://www.gov.uk/guidance/housing-for-older-and-disabled-people" class="govuk-link govuk-link--no-visited-state">Housing for older and disabled people</a></li>
            </ul>


            <h3 id="core-theme-3" class="govuk-heading-m">Housing requirement study – likely alongside SHLAA</h3>
            <p class="govuk-body">This study is to assess how many homes the plan should seek to provide</p>

            <h3 id="core-theme-4" class="govuk-heading-m">Economic needs assessment</h3>
            <p class="govuk-body">This study is to assess levels of need for economic development in the area.</p>
            <p class="govuk-body">This is often prepared alongside the housing needs assessment as a <a href="https://www.gov.uk/guidance/housing-and-economic-development-needs-assessments" class="govuk-link govuk-link--no-visited-state">Housing and economic needs assessment</a>.</p>
            <p class="govuk-body">The housing need assessment should be prepared as part of the Spatial Development Strategy (SDS), unless there is not an SDS in place.</p>


            <h3 id="core-theme-5" class="govuk-heading-m">Economic land availability assessment (ELAA)</h3>
            <p class="govuk-body">This study is to identify how much land is potentially available for economic development in the area.</p>
            <p class="govuk-body">Do this study early on, as it will inform other parts of the evidence base such as the housing needs assessment.</p>
            <p class="govuk-body">This is often prepared alongside the housing land availability assessment as a <a href="https://www.gov.uk/guidance/housing-and-economic-land-availability-assessment" class="govuk-link govuk-link--no-visited-state">Housing and economic land availability assessment</a>.</p>
            <p class="govuk-body">The housing and land availability assessment should include, or be done alongside:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Employment Land Review (ELR) - a survey and assessment of the quantity and quality of existing employment land.</li>  
            </ul>  


            <h3 id="core-theme-6" class="govuk-heading-m">Town Centre Strategy</h3>
            <p class="govuk-body">This study is to identify:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>hierarchy and geographical boundary of town centres</li>
            <li>requirements for centres, including need for new allocations of land for town centre development</li>
            </ul>
            <p class="govuk-body">For more information, see the <a href="https://www.gov.uk/guidance/ensuring-the-vitality-of-town-centres" class="govuk-link govuk-link--no-visited-state">guidance on town centres and retail</a>.</p>


            <h3 id="core-theme-7" class="govuk-heading-m">Heritage assessment</h3>
            <p class="govuk-body">This study is to identify the main heritage features within the plan area.</p>
            <p class="govuk-body">For more information, see the <a href="https://www.gov.uk/guidance/conserving-and-enhancing-the-historic-environment" class="govuk-link govuk-link--no-visited-state">guidance on historic environment</a>.</p>
            <p class="govuk-body">The housing and land availability assessment should include, or be done alongside:</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Archaeology assessment – an audit of architectural assets and features in the area</li>
            </ul>


            <h3 id="core-theme-8" class="govuk-heading-m">Strategic flood risk assessment – levels 1 and 2</h3>
            <p class="govuk-body">This study is to to assess the risk to an area from flooding from all sources, now and in the future.</p>
            <p class="govuk-body">For more information, see the <a href="https://www.gov.uk/guidance/flood-risk-and-coastal-change#taking-flood-risk-into-account-in-preparing-plans" class="govuk-link govuk-link--no-visited-state">guidance on flood risk</a>.</p>

            </ul>
            

            <h2 class="govuk-heading-l">Additional studies your LPA may need to provide</h2>

            <p class="govuk-body">Depending on your LPA’s context, you may also need to provide these studies. </p>
             
            <h3 id="add-theme-1" class="govuk-heading-m">Urban design and capacity study</h3>
            <p class="govuk-body">Large urban authorities where identifying brownfield land capacity is important should provide this study. This may be done as part of the housing land availability assessment.</p>


            <h3 id="add-theme-2" class="govuk-heading-m">Leisure and tourism study</h3>
            <p class="govuk-body">Provide this study if leisure and tourism likely to be important to the economy of your area.</p>


            <h3 id="add-theme-3" class="govuk-heading-m">Rural economy study</h3>
            <p class="govuk-body">Provide this study if the rural economy is likely to be important to your area.</p>


            <h3 id="add-theme-4" class="govuk-heading-m">Density standards</h3>
            <p class="govuk-body">If you are proposing to set density standards, provide evidence to justify their use and determine the figures for minimum density.</p>

            <h3 id="add-theme-5" class="govuk-heading-m">Coastal change management area study</h3>
            <p class="govuk-body">Provide this study if your LPA has any areas of coastline that are likely to be affected by physical change. This study is to set out what types of development will be appropriate in these areas.</p>
            <p class="govuk-body">For more information, see the <a href="https://www.gov.uk/guidance/flood-risk-and-coastal-change#para70" class="govuk-link govuk-link--no-visited-state"> guidance on coastal change</a>. </p>

            <h3 id="add-theme-6" class="govuk-heading-m">Agricultural land survey</h3>
            
            </ul>

            <br>
  
<!--            
      <h2 class="govuk-heading-l">Uncategorised</h2>
             
            <h3 id="uncategorised-1" class="govuk-heading-m">Character assessment or townscape assessment</h3>
            <p class="govuk-body">An evaluation of the area’s existing characteristics and potential</p>


            <h3 id="uncategorised-2" class="govuk-heading-m">Water cycle study</h3>
            <p class="govuk-body">A water cycle study uses water and planning evidence to understand environmental and infrastructure capacity.</p>


            <h3 id="uncategorised-3" class="govuk-heading-m">Protected Landscape Management Plans</h3>
            <p class="govuk-body">This study describes the natural beauty, special qualities and key characteristics of and targets and objectives for the designation.</p>

            <h3 id="uncategorised-4" class="govuk-heading-m">Local Nature Recovery Strategies (LNRS)</h3>
            <p class="govuk-body">This study replaces Biodiversity Action Plans. LNRS are a system of spatial strategies for nature and the environment which map the most valuable existing areas for nature and agree priorities for nature's recovery.</p>

            <h3 id="uncategorised-5" class="govuk-heading-m">River Basin Management Plans</h3>
            <p class="govuk-body">River Basin Management Plans are used to protect and improve the water quality in each river basin district.</p>

            <h3 id="uncategorised-6" class="govuk-heading-m">Green and blue infrastructure strategy</h3>
        
            </ul>
            -->
        </div>
            </div>
        </div>

                   
        
    </main>

    {% endblock %}