{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Review - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-l">
                Your results
            </h1>
            <h2 class="govuk-heading-m">
                Studies you should do
            </h2>

            <p class="govuk-body">
                Based on your answers, your LPA should do the following evidence base studies:
            <ul class="govuk-list govuk-list--bullet">
                <li>Housing and economic study, informed by:</li>
                <ul>
                    <li>Strategic Housing Market Assessment (SHMA)</li>
                    <li>ELR (employment land review)</li>
                    <li>Housing economic land availability assessment (HELAA)</li>
                    <li>Housing trajectory & land supply study</li>
                    <li>Housing delivery study</li>
                    <li>Settlement study (inc. built up area boundary review)</li>
                    <li>Green Belt review</li>
                    <li>Green belt exceptional circumstances evidence paper</li>

                </ul>
                <br>
                <li>Site selection methodology & site allocations</li>
                <br>
                <li>Growth / spatial strategy, informed by:</li>
                <ul>
                    <li>Urban capacity study</li>
                    <li>Spatial options</li>
                </ul>
            </ul>

            <h2 class="govuk-heading-m">
                Studies you may need to do
            </h2>
            <p class="govuk-body">
                Based on your answers, you may need to do some additional studies. Use your planning judgement to decide
                if you need these studies: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Strategic scale technical and design evidence</li>

            </ul>

            <br>
            <p class="govuk-body">
            You should confirm your final list of evidence with the Planning Inspectorate at Gateway 2.
            </p>
        </div>
    </div>
</main>

{% endblock %}