{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Review - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-l">
                Your results
            </h1>
            <p class="govuk-body">
                Use your results as a guide, especially if you're still early in your plan-making. You should confirm
                your final list of evidence with the Planning Inspectorate at Gateway 2. </p>
            <h2 class="govuk-heading-m">
                Evidence to include
            </h2>

            <p class="govuk-body">
                Your answers suggest your evidence base includes:

                
            <ul class="govuk-list govuk-list--bullet">
                <li>Housing and economic study, informed by:</li>
                <ul>
                    <li>Strategic housing market assessment (SHMA)</li>
                    <li>Employment land review (ELR)</li>
                    <li>Housing economic land availability assessment (HELAA)</li>
                    <li>Housing trajectory and land supply study</li>
                    <li>Housing delivery study</li>
                </ul>




                <li>Growth and spatial strategy, informed by:</li>
                <ul>
                    <li>Urban capacity study</li>
                    <li>Spatial options study</li>
                    <li>Settlement study, with built up area boundary review</li>
                </ul>

                <li>Green belt review</li>
                <li>Green belt exceptional circumstances evidence paper</li>
                <li>Metropolitan open land review</li>
                <li>Spatial development strategy conformity note</li>
                <li>Site selection methodology and site allocation</li>
            </ul>

            <h2 class="govuk-heading-m">
                Additional evidence you may need
            </h2>
            <p class="govuk-body">
                You may also benefit from including additonal studies. Use your planning judgement to decide if you need
                these: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Strategic scale technical and design evidence</li>
            </ul>

            <br>
            <h2 class="govuk-heading-m">
                Evidence you do not need
            </h2>
            <p class="govuk-body">
                Your answers suggest you do not need:
            <ul class="govuk-list govuk-list--bullet">
                <li>Green belt exceptional circumstances evidence paper</li>
            </ul>


            </p>
        </div>
    </div>
</main>

{% endblock %}