{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Review - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <h1 class="govuk-heading-l">
                Your results
            </h1>
            <p class="govuk-body">
                Use your results as a guide, especially if you're still early in your plan-making. You should confirm
                your final list of evidence with the Planning Inspectorate at Gateway 2. </p>
           
           <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Evidence to include
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for the web.</p>

      <h3 class="govuk-heading-s">Housing and residential</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">Housing and economic study</a>, informed by:</li>
                <ul>
                    <li>Strategic housing market assessment (SHMA)</li>
                    <li>Housing economic land availability assessment (HELAA)</li>
                    <li>Housing trajectory and land supply study</li>
                    <li>Housing delivery study</li>
                    <li>Housing needs of Gypsies, Travellers and Travelling show people</li>
                </ul>

                <!--absorbed studies as a details component, if not included in guidance from the core study link
                <details class="govuk-details indented">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Studies absorbed by the above
                        </span>
                    </summary>

                    <div class="govuk-details__text">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Housing economic development needs assessment</li>
                            <li>Assess local housing needs</li>
                            <li>Housing in multiple occupation (HMO) study</li>
                            <li>Affordable housing study</li>
                            <li>Strategic housing land availability assessment (SHLAA)</li>
                            <li>Windfall study</li>
                        </ul>
                    </div>
                </details>-->

                <li><a href="#">Site selection methodology & site allocations</a></li>
            </ul>

            <h3 class="govuk-heading-s">Economy and employment</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">Housing & economic study</a>, informed by:</li>
                <ul>
                    <li>Employment land review (ELR)</li>
                    <li>Housing economic land availability assessment (HELAA)</li>
                </ul>

                <li><a href="#">Site selection methodology & site allocations</a></li>
            </ul>

            <h3 class="govuk-heading-s">Built design and heritage</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">Character study</a>, informed by:</li>
                <ul>
                    <li>Townscape assessment</li>
                </ul>
                <li><a href="#">Design codes</a></li>
                <li><a href="#">Heritage impact assessment</a></li>
                <li><a href="#">Archaelogy assessment</a></li>
                <li><a href="#">Urban design & capacity study</a></li>
                <!--absorbed studies as a details component if not included in guidance from the core study link
                     <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Studies absorbed by the above
                        </span>
                    </summary>

                    <div class="govuk-details__text">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Urban character study</li>
                            <li>Tall buildings thresholds study</li>                          
                        </ul>
                    </div>
                </details>-->
            </ul>

            <h3 class="govuk-heading-s">Natural environment and open land</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="#">Strategic flood risk assessment</a>, informed by:</li>
                <ul>
                    <li>Strategic flood risk assessment (level 1)</li>
                </ul>
                <li><a href="#">Water cycle study</a></li>
                <li><a href="#">Character study</a></li>
                <li><a href="#">Green and blue infrastructure strategy</a></li>
                <li><a href="#">Create biodiversity action plan</a></li>
                <li><a href="#">Bio net gain (BNG) study</a></li>
                <li><a href="#">Climate change study</a>, informed by:</li>
                <ul>
                    <li>Net zero evidence</li>
                    <li>Air quality management plan</li>
                    <li>Renewable energy study</li>
                    <li>Carbon emmissions study</li>
                </ul>
</ul>
                <h3 class="govuk-heading-s">Culture, leisure and tourism</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#">Retail, leisure and tourism study</a>, informed by:</li>
                    <ul>
                        <li>Retail / town centre boundary study</li>
                    </ul>
                    <li><a href="#">Open space & recreation study</a>, informed by:</li>
                    <ul>
                        <li>Playing pitch and outdoor sport strategy</li>
                        <li>Indoor sport facility strategy</li>
                    </ul>
                </ul>

                <h3 class="govuk-heading-s">Community services and health</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#">Community facilities review</a></li>
                </ul>

<h3 class="govuk-heading-s">Transport and infrastructure</h3>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="#">Infrastructure strategy</a>, informed by:</li>
                    <ul>
                        <li>Infrastructure Delivery Plan</li>
                        <li>Education need/school planning </li>
                    </ul>
                    <li><a href="#">Open space & recreation study</a>, informed by:</li>
                    <ul>
                        <li>Playing pitch and outdoor sport strategy</li>
                        <li>Indoor sport facility strategy</li>
                    </ul>
                </ul>


            </ul>






            <h2 class="govuk-heading-m">
                Additional evidence you may need
            </h2>
            <p class="govuk-body">
                You may also benefit from including additonal studies. Use your planning judgement to decide if you
                need
                these: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Strategic scale technical and design evidence</li>
            </ul>

            <br>
            <h2 class="govuk-heading-m">
                Evidence you do not need
            </h2>
            <p class="govuk-body">
                Your answers suggest you do not need:
            <ul class="govuk-list govuk-list--bullet">
                <li>Green belt exceptional circumstances evidence paper</li>
            </ul>



            
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Additional evidence you may need
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Writing well for specialists.</p>
    </div>
  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Evidence you do not need
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for Know your audience.</p>
    </div>
  </div>
  
  </div>
   
     



            <a href="#">Budget guidance (CULP)</a>
            </p>
        </div>
        
        </div>
    </div>
</main>

{% endblock %}