{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of Compliance
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of Compliance</h1>


        <!--<div class="ons-table-scrollable ons-table-scrollable--on">
          <div class="ons-table-scrollable__content" tabindex="0" role="region"
            aria-label="Scrollable table. There are 7 columns in this table. Some of the table may be off screen. Scroll or drag horizontally to bring into view.">
        -->
        <table class="govuk-table tablescroll">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header  govuk-!-width-one-quarter">Legal / procedural regulation</th>
              <th scope="col" class="govuk-table__header">Progress</th>
              <th scope="col" class="govuk-table__header">Evidence location</th>
              <th scope="col" class="govuk-table__header">Advice being sought</th>

              <th scope="col" class="govuk-table__header">Outcome</th>
              <th scope="col" class="govuk-table__header">Evidence location</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 1</a> [Regulation 1 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 2</a> [Regulation 2 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 3</a> [Regulation 3 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 4</a> [Regulation 4 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 5</a> [Regulation 5 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 6</a> [Regulation 6 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 7</a> [Regulation 7 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 8</a> [Regulation 8 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SOC-edit-1.html">Regulation 9</a> [Regulation 9 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 10</a> [Regulation 10 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 11</a> [Regulation 11 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1.html">Regulation 12</a> [Regulation 12 description]</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey"> Not started</strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>
            </tr>



          </tbody>
        </table>





        <!--
            <table class="ons-table ons-table--scrollable">
              <caption class="ons-table__caption"> Scrollable table </caption>
              <thead class="ons-table__head">
                <tr class="ons-table__row">
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">ID</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Title</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Abbreviation</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Legal basis</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Frequency</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Date</span>
                  </th>
                  <th scope="col" class="ons-table__header">
                    <span class="ons-table__header-text">Status</span>
                  </th>
                </tr>
              </thead>
              <tbody class="ons-table__body">
                <tr class="ons-table__row">
                  <td class="ons-table__cell"> 023 </td>
                  <td class="ons-table__cell"> Monthly Business Survey - Retail Sales Index </td>
                  <td class="ons-table__cell"> RSI </td>
                  <td class="ons-table__cell"> Statistics of Trade Act 1947 </td>
                  <td class="ons-table__cell"> Monthly </td>
                  <td class="ons-table__cell"> 20 Jan 2018 </td>
                  <td class="ons-table__cell">
                    <span class='ons-status ons-status--success'>Ready</span>
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell"> 112 </td>
                  <td class="ons-table__cell"> Annual Inward Foreign Direct Investment Survey </td>
                  <td class="ons-table__cell"> AIFDI </td>
                  <td class="ons-table__cell"> Statistics of Trade Act 1947 </td>
                  <td class="ons-table__cell"> Annually </td>
                  <td class="ons-table__cell"> 26 Feb 2018 </td>
                  <td class="ons-table__cell">
                    <span class='ons-status ons-status--dead'>Not ready</span>
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell"> 332 </td>
                  <td class="ons-table__cell"> Business Register and Employment Survey </td>
                  <td class="ons-table__cell"> BRES </td>
                  <td class="ons-table__cell"> Statistics of Trade Act 1947 </td>
                  <td class="ons-table__cell"> Annually </td>
                  <td class="ons-table__cell"> 23 Jan 2013 </td>
                  <td class="ons-table__cell">
                    <span class='ons-status ons-status--info'>In progress</span>
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell"> 654 </td>
                  <td class="ons-table__cell"> Quartely Survey of Building Materials Sand and Gravel </td>
                  <td class="ons-table__cell"> QBMS </td>
                  <td class="ons-table__cell"> Statistics of Trade Act 1947 - BEIS </td>
                  <td class="ons-table__cell"> Quartely </td>
                  <td class="ons-table__cell"> 24 Jan 2015 </td>
                  <td class="ons-table__cell">
                    <span class='ons-status ons-status--error'>Issue</span>
                  </td>
                </tr>
                <tr class="ons-table__row">
                  <td class="ons-table__cell"> 765 </td>
                  <td class="ons-table__cell"> Monthly Survey of Building Materials Concrete Building Blocks </td>
                  <td class="ons-table__cell"> MSBB </td>
                  <td class="ons-table__cell"> Voluntary </td>
                  <td class="ons-table__cell"> Monthly </td>
                  <td class="ons-table__cell"> 25 Jan 2014 </td>
                  <td class="ons-table__cell">
                    <span class='ons-status ons-status--success'>Ready</span>
                  </td>
                </tr>
              </tbody>
            </table>-->
      </div>
    </div>
</div>
</div>







</main>
</div>

{% endblock %}