{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of Compliance
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of Compliance</h1>


        <!--<table class="govuk-table">-->
        <!--<caption class="govuk-table__caption govuk-table__caption--m">Statement of Compliance progress</caption>-->
        <table class="govuk-table tablescroll">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Legal / procedural regulation</th>
              <th scope="col" class="govuk-table__header">G2 Progress</th>
              <th scope="col" class="govuk-table__header">Evidence location</th>
              <th scope="col" class="govuk-table__header">Advice being sought</th>

              <!--gateway 3 table -->
              <th scope="col" class="govuk-table__header">G3 progress</th>
              <th scope="col" class="govuk-table__header">Evidence location</th>
              

            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 1</a> Policies for the local plan</td>
            <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
              < <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 2</a> Changes to the area</td>
        <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
              <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
             

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 3</a> Climate change effects </td>
                <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 4</a> Nature recovery strategy </td>
                <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 5</a> Housing assessment</td>
           <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
              <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">Regulation 6 County or mayoral advice</td>
              <!--<td class="govuk-table__cell"><a href="SOC-edit-1-all.html">Regulation 6</a> County or mayoral advice</td>-->
              <!--<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue"> In progress</strong></td>-->
              <td class="govuk-table__cell">Not applicable</td>
                 <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"><strong class="customtag"></strong></td>
                  <td class="govuk-table__cell"></td>
                
            </tr>
            <tr class="govuk-table__row">
               <td class="govuk-table__cell">Regulation 7 Publish advice from the government</td>
              <!--<td class="govuk-table__cell"><a href="SOC-edit-1-all.html">Regulation 7</a> Publish advice from the government</td>-->
              <!--<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">In progress</strong></td>-->
              <td class="govuk-table__cell">Not applicable</td>
                 <td class="govuk-table__cell"></td>
                 <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"><strong class="customtag"></strong></td>
                  <td class="govuk-table__cell"></td>
                 
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 8</a> Take advice from consultations, <br> the relevant authorities and government policies</td>
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
             

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 9</a> Documents you need to prepare</td>
                <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

           
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC-edit-1-all.html">Regulation 10</a> Finalise the local plan</td>
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              <td class="govuk-table__cell"></td>

              <!--gateway 3 table -->
               <td class="govuk-table__cell"><strong class="customtag"></strong></td>
              <td class="govuk-table__cell"></td>
              

            </tr>

           


          </tbody>
        </table>




      </div>
    </div>
  </main>
</div>


{% endblock %}