{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="SoC2-list-GW3-start.html">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>


<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance</h1>
       
<div class="govuk-grid-column-full govuk-body">
  <a href="SoC2-edit-reg.html">Requirement 1</a> Policies for the local plan
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p> </div>
<br><br> 
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
<a href="SoC2-edit-reg.html">Requirement 2</a> Changes to the area</div>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
<a href="SoC2-edit-reg.html">Requirement 3</a> Changes to the area</div>
 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;

<div class="govuk-tag govuk-tag--blue"> In progress</div>
</div>
<br><br>

<div class="govuk-body">&nbsp; &nbsp; &nbsp; Evidence: <a href="#">document1.pdf</a>, page 12-15</div>
<div>
          <details class="govuk-details govuk-grid-column-full">
 <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advice being sought
    </span>
  </summary>
  <div class="govuk-details__text">
    [advice being sought details are shown here. This may be up to 200 words]
  </div>
</details>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; <a href="SoC2-edit-reg.html">Requirement 4</a> Nature recovery strategy</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; <a href="SoC2-edit-reg.html">Requirement 5</a> Housing assessment</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br>

<div>
          <details class="govuk-details govuk-grid-column-full">
 <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Progress update
    </span>
  </summary>
  <div class="govuk-details__text">
    [progress update provided by the user e.g. explaining they have engaged contractors but there's nothing tangible to upload. This may be up to 100 words]
  </div>
</details>
<br><br>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Regulation 6 County or mayoral advice</div>

<p class="govuk-body">  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
Not applicable</p>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Regulation 7 Publish advice from the government</div>
<p class="govuk-body"> &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;
  Not applicable</p>
<hr>


<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; <a href="SoC2-edit-reg.html">Requirement 8</a> Take advice from consultations
the relevant authorities <br>&nbsp;&nbsp;&nbsp;&nbsp;and government policies
</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br><br><br>
<hr>




<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp;&nbsp;<a href="SoC2-edit-reg.html">Requirement 9</a> Finalise the local plan
<div class="govuk-body">&nbsp;&nbsp;&nbsp;Evidence: <a href="#">study-x.pdf</a>, page 3; <a href="#">study-y,</a> page 17 <a href="#">study-z</a>, [section title] </div>
</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br><br><br><br><br>
<div>

<hr>



<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; <a href="SoC2-edit-reg.html">Requirement 10</a> Finalise the local plan</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br>
<hr>


        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            No more changes can be made to your submission after you submit this statement of compliance
          </strong>
        </div>


        <a href="SoC2-list-locked.html" role="button" draggable="false" class="govuk-button govuk-button"
          data-module="govuk-button">
          Submit 
        </a>

      </div>
    </div>
  </main>
</div>


{% endblock %}