{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>





<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance</h1>

        <div class="govuk-grid-column-full govuk-body alignleft">
          &nbsp;&nbsp; <a href="SoC2-edit-reg.html"> Requirement 1</a> Policies for the local plan
</div>
        
          <p class="customtag2">Progress: TBD</p>
          <br><br>
          <hr>



          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 2</a> Changes to the area
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>


          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 3</a> Climate change effects
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>


          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 4</a> Nature recovery strategy
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>

          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 5</a> Housing assessment
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>

          <div class="govuk-grid-column-two-thirds govuk-body">
          Requirement 6 County or mayoral advice</div>

          <p class="govuk-body"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            Not applicable</p>
          <hr>

          <div class="govuk-grid-column-two-thirds govuk-body">
           Requirement 7 Publish advice from the government</div>
          <p class="govuk-body"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
            Not applicable</p>
          <hr>


          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 8</a> Take advice from consultations
            the <wbr>relevant authorities and government policies
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br><br><br>
          <hr>




          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 9</a> Finalise the local plan
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>



          <div class="govuk-grid-column-two-thirds govuk-body">
            <a href="SoC2-edit-reg.html">Requirement 10</a> Finalise the local plan
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <p class="customtag">Progress: TBD</p>
          <br><br>
          <hr>



        </div>
      </div>

    </div>
</div>
</main>
</div>


{% endblock %}