{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="SoC2-list-locked.html">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="" aria-current="true">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>


<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance</h1>
        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Legal / procedural regulation</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Evidence</th>




            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 1</a> Policies for the local plan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 2</a> Changes to the area</td>
            <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 3</a> Climate change effects </td>
             <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 4</a> Nature recovery strategy </td>
              <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 5</a> Housing assessment</td>
              <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
               <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 6</a> County or mayoral advice</td>
              <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 7</a> Publish advice from the
                government</td>
             <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>
      
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 8</a> Take advice from
                consultations, <br> the relevant authorities and government policies</td>
              <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 9</a> Documents you need to prepare
              </td>
             <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Regulation 10</a> Finalise the local plan</td>
              <td class="govuk-table__cell"><p class="customtag">TBD</p></td>
              <td class="govuk-table__cell"></td>
            </tr>
          </tbody>
        </table>

<!--<div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            No more changes will be possible after locking this page
          </strong>
        </div>-->


        <!--<a href="SoC2-list-locked.html" role="button" draggable="false" class="govuk-button govuk-button"
          data-module="govuk-button">
          Lock for gateway 3
        </a>-->

        <br><br><br>

        <a href="SoC2-list-GW3-ready.html">
          [See example list when ready for gateway 3]
        </a>

      </div>
    </div>
  </main>
</div>


{% endblock %}