{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="SoC3-list-locked.html">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="" aria-current="true">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>


<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance - submitted</h1>

        <p>You have submitted your statement of compliance. You can make no more changes.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prescribed requirement</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Evidence</th>
            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 1 Policies for the local plan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">Document1.pdf</a>, page 12, <a href="#">policies for the local plan</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 2 Changes to the area</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">Changes.doc</a>, page 20 paragraph 6</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 3 Climate change effects </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">report-x.pdf</a>, pages 1-19; <a>report-y-doc</a>, page 5</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 4 Nature recovery strategy </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document1.pdf</a>, pages 20 - 21</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 5 Housing assessment</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">housing-report.doc</a>; <a>document-A</a>, pages 2 - 14</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 6 County or mayoral advice</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15</a>, page 29; <a>report-2</a>, pages 12 - 14</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 7 Publish advice from the
                government</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15</a>, page 30 - 32</td>
            </tr>
      
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 8 Take advice from
                consultations, <br> the relevant authorities and government policies</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15</a>, pages 33 - 36</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 9 Documents you need to prepare
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">presentation-deck-A</a>, slide 15</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Requirement 10 Finalise the local plan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-z</a>, pages 1 - 18</td>
            </tr>
          </tbody>
        </table>


        

      </div>
    </div>
  </main>
</div>


{% endblock %}