{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Regulation 7
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <h1 class="govuk-heading-l">
           <label class="govuk-label--l" for="contact-by-email"> Set out what you need to clarify about Requirement 3 with the assessor
        </label></h1>

        <body class="govuk-template__body">
          <div class="govuk-width-container">
            <form action="#SoC3-list-inprogress" method="post">

             


          <!--end of multiple upload-->


<!-- Set 2: Preferred Mode of Transport -->
<fieldset class="govuk-fieldset" aria-describedby="transport-hint">


          <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="200">
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5"
              aria-describedby="with-hint-info with-hint-hint"></textarea>
            <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
              You can enter up to 200 characters
            </div>
          </div>
        </div>
 

      
    </fieldset>



<br><br>

<a href="SoC3-list-inprogress.html" role="button" draggable="false" class="govuk-button govuk-button"
  data-module="govuk-button">
  Save
</a>

</form>
</div>
</body>
</div>
</div>

</main>
</div>









{% endblock %}