{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="SoC3-list-locked.html">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="" aria-current="true">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>


<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance</h1>
        <table class="govuk-table">

          <thead class="govuk-table__head">

            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Prescribed requirement</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Evidence</th>




            </tr>
          </thead>

          <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 1</a> Policies for the local plan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">Document1.pdf</a>, page 12, <a href="#">policies for the local plan</a></td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 2</a> Changes to the area</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">Changes.doc</a>, page 20 paragraph 6</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 3</a> Climate change effects </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">report-x.pdf</a>, pages 1-19; <a href="#">report-y-doc</a>, page 5</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 4</a> Nature recovery strategy </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document1.pdf</a>, pages 20 - 21</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 5</a> Housing assessment</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">housing-report.doc</a>; <a href="#">document-A</a>, pages 2 - 14</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 6</a> County or mayoral advice</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15,</a> page 29; <a href="#">report-2</a>, pages 12 - 14</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 7</a> Publish advice from the
                government</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15</a>, page 30 - 32</td>
            </tr>
      
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 8</a> Take advice from
                consultations, <br> the relevant authorities and government policies</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-15</a>, pages 33 - 36</td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 9</a> Documents you need to prepare
              </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">presentation-deck-A</a>, slide 15</td>
            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="SoC2-edit-GW3.html">Requirement 10</a> Finalise the local plan</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Met</strong></td>
              <td class="govuk-table__cell"><a href="#">document-z</a>, pages 1 - 18</td>
            </tr>
          </tbody>
        </table>

 <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
          I understand that no more changes can be made to the submission after I submit this statement of compliance
        </label>
       
      </div>
      <br>  <br>
<!--<div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            No more changes can be made to the submission once you submit this statement of compliance
          </strong>
        </div>-->


        <a href="SoC2-list-GW3-locked.html" role="button" draggable="false" class="govuk-button govuk-button"
          data-module="govuk-button">
          Submit
        </a>

        

      </div>
    </div>
  </main>
</div>


{% endblock %}