{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Regulation 7
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">





        <body class="govuk-template__body">
          <div class="govuk-width-container">
            <form action="#SoC3-edit-reg-4" method="post">




              <div class="govuk-form-group">
                <h1 class="govuk-heading-l">

                  <label for="contact-by-email">
                    Progress summary
                </h1>
                <div id="file-upload-1-hint" class="govuk-hint">
                  If you have no evidence to upload, explain what you have done so far.
                </div>
                </label>
                <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count"
                  data-maxwords="100">
                  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5"
                    aria-describedby="with-hint-info with-hint-hint"></textarea>
                  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 100 characters
                  </div>
                </div>
              </div>

              <!--end of multiple upload-->

          </div>
          </fieldset>



          <br><br>

          <a href="SoC3-edit-reg4.html" role="button" draggable="false" class="govuk-button govuk-button"
            data-module="govuk-button">
            Save
          </a>

          </form>
      </div>
      </body>
    </div>
</div>

</main>
</div>









{% endblock %}