{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Statement of compliance
{% endblock %}

{% block content %}
<section aria-label="Service information" class="govuk-service-navigation" data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">

      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
          aria-controls="navigation" hidden>
          Menu
        </button>

        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Gateway 2</strong>
            </a>
          </li>

          <li class="govuk-service-navigation__item">
            <a class="govuk-service-navigation__link" href="SoC3-list-GW3-start.html">
              Gateway 3
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</section>


<div class="govuk-width-container">
  <!-- <a href="javascript:history.back()" class="govuk-back-link">Back</a>-->
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Statement of compliance - submitted</h1>

        <p>You cannot change any submitted documents.</p>
        <div class="govuk-grid-column-two-thirds govuk-body">
  Requirement 1 Policies for the local plan</div>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p> 
<br><br> 
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
Requirement 2 Changes to the area</div>
  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
Requirement 3 Changes to the area</div>
 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;

<div class="govuk-tag govuk-tag--blue"> In progress</div>
</div>
<br><br>

<div class="govuk-body">&nbsp; &nbsp; &nbsp; Evidence: <a href="#">document1.pdf</a>, page 12-15</div>
<div>
          <details class="govuk-details govuk-grid-column-full">
 <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Advice being sought
    </span>
  </summary>
  <div class="govuk-details__text">
    [advice being sought details are shown here. This may be up to 200 words]
  </div>
</details>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 4 Nature recovery strategy</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp;Requirement 5 Housing assessment</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br>

<div>
          <details class="govuk-details govuk-grid-column-full">
 <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Progress update
    </span>
  </summary>
  <div class="govuk-details__text">
    [progress update provided by the user e.g. explaining they have engaged contractors but there's nothing tangible to upload. This may be up to 100 words]
  </div>
</details>
<br><br>
<hr>
<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 6 County or mayoral advice</div>

<p class="govuk-body">  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;
Not applicable for Gateway 2</p>
<hr>

<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 7 Publish advice from the government</div>
<p class="govuk-body"> &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;
  Not applicable for Gateway 2</p>
<hr>


<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 8 Take advice from consultations, the relevant authorities <br>&nbsp;&nbsp;&nbsp;and government policies
</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--yellow">Not started</p>
<br><br><br><br>
<hr>




<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 9 Finalise the local plan
<div class="govuk-body">Evidence: <a href="#">study-x.pdf</a>, page 3; <a href="#">study-y,</a> page 17 <a href="#">study-z</a>, [section heading] </div>
</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br><br><br><br><br>
<div>

<hr>



<div class="govuk-grid-column-two-thirds govuk-body">
&nbsp;&nbsp; Requirement 10 Finalise the local plan</div>
 &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p class="govuk-tag govuk-tag--blue">In progress</p>
<br><br>
<hr>

      </div>
    </div>
  </main>
</div>


{% endblock %}