{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
Start - {{ serviceName }}
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper " id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Check what evidence to gather for your local plan
      </h1>


      <h2 class="govuk-heading-m">Gathering evidence in the 30-month plan preparation process </h2>
      <p class="govuk-body"> To produce a local plan within the <a href="https://www.gov.uk/guidance/30-month-local-plan-process-an-overview" class="govuk-link govuk-link--no-visited-state">30-month plan preparation process</a>, the evidence supporting the plan needs to be: 
       <br>
      
        <ul class="govuk-list govuk-list--bullet">
        <li><b>proportionate</b>– you should produce all the evidence needed for examination to prevent delays</li>
        <li><b>relevant</b>– you do not need to produce a study if it is not necessary for your local plan</li>
        <li><b>up-to-date</b>– you do not need to redo evidence if it already exists, but existing evidence must be relevant</li>
        </ul>
       
      <p class="govuk-body">You should use your results as a guide, especially if you're still early in your plan-making. You should confirm your final list of evidence with the Planning Inspectorate at Gateway 2.</p>

      <br>

      <h2 class="govuk-heading-m">Check what studies to include in your evidence base</h2>
      <p class="govuk-body">Use this form at the start of the 30-month plan preparation process to help you decide what evidence to gather. </p>
      <p class="govuk-body">Doing this will help you avoid delays and <a href="https://www.gov.uk/guidance/local-plans" class="govuk-link govuk-link--no-visited-state">pass the examination</a>.</p>
      <p class="govuk-body">Answer questions about your local planning authority and plan-making decisions to find out what evidence to prepare.</p>
      <p class="govuk-body">You should use your results as a guide, especially if you're still early in your plan-making. You should confirm your final list of evidence with the Planning Inspectorate at Gateway 2.</p>


      

      <!--<a href="2-section" class="govuk-button">
        Continue
      </a>-->
      <br>

      <a href="check-answers-defra-forms" role="button" draggable="false" class="govuk-button govuk-button--start"
        data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

    </div>
  </div>
</main>
{% endblock %}